<div class="container"><!--container-->

    <form class="form-group"><!--form-->
      

        <div id="form"><!--form-->
            <h3 class="text-white">Booking Details</h3>

    <div id="input3"><!--input3-->
                
                <input type="radio" id="input-group" name="r">
                <label class="text-white" for="input-group">One Way</label>
                <input type="radio" id="input-group" name="r">
                <label class="text-white" for="input-group">Round Trip</label>
            </div><!--input3-->

        <div id="input"><!--input-->
            <input type="text" id="input-group" placeholder="From">
            <input type="text" id="input-group" placeholder="To">
            <input type="text" id="input-group" placeholder="Departure Date">
            <input type="text" id="input-group" placeholder="Arrival Date">
           
            
            </div><!--input-->

            <div id="input2"><!--input2-->
                <input type="number" id="input-group" placeholder="Travellers">
                
            </div><!--input2-->

            

         

         <div class="wrapper">
            <button type="submit" class="btn btn-warning text-white">Search</button>
         </div>
           
           

        </div><!--form-->

    </form><!--form-->

</div><!--container-->
